<div *ngIf="mostrarLogin" [@fadeAnimation]  class="menu-container"> 
    <div class="row">
      <div class="col-6 category-col">
        <div class="category-card" (click)="seleccionarPaciente()">
          <img src="image/paciente.jpg" alt="Paciente" class="category-image">
          <p>Paciente</p>
        </div>
      </div>
      <div class="col-6 category-col">
        <div class="category-card" (click)="seleccionarEspecialista()">
          <img src="image/especialista.jpg" alt="Especialista" class="category-image">
          <p>Especialista</p>
        </div>
      </div>
    </div>
  </div>
  