<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <main class="form-signin w-100">
    <form [formGroup]="form">
      <div class="text-center mb-4">
        <img class="mb-4" src="image/logo.jpg" alt="" width="150" height="150" />
      </div>
      <h1 class="h3 mb-3 fw-normal text-center">Please sign in</h1>

      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
          formControlName="email"
        />
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
          formControlName="password"
        />
        <label for="floatingPassword">Password</label>
      </div>

      <button
        class="btn btn-primary w-100 py-2"
        type="submit"
        (click)="handleLogin()"
      >
        Sign in
      </button>

      <div class="mb-3">
        <div class="g-recaptcha" data-sitekey="6LdYYncqAAAAAK7uzmNcGqSYpeFZph3cff55TPHn"></div>
      </div>

      <div class="menu-container">
        <!-- Administradores -->
        <ng-container *ngIf="listaAdministradores?.length > 0">
          <div *ngFor="let e of listaAdministradores" class="profile-button" (click)="asignarContrasenia(e)">
            <img [src]="e.imagenPerfil" alt="Administrador" class="profile-image" />
            <p>Administrador</p>
          </div>
        </ng-container>
      
        <!-- Especialistas -->
        <ng-container *ngIf="listaEspecialistas?.length > 0">
          <ng-container *ngFor="let e of listaEspecialistas; let i = index">
            <div *ngIf="i < 2" class="profile-button" (click)="asignarContrasenia(e)">
              <img [src]="e.imagenPerfil" alt="Especialista" class="profile-image" />
              <p>Especialista</p>
            </div>
          </ng-container>
        </ng-container>
      
        <!-- Pacientes -->
        <ng-container *ngIf="listaPacientes?.length > 0">
          <ng-container *ngFor="let e of listaPacientes; let i = index">
            <div *ngIf="i < 3" class="profile-button" (click)="asignarContrasenia(e)">
              <img [src]="e.imagenPerfil" alt="Paciente" class="profile-image" />
              <p>Paciente</p>
            </div>
          </ng-container>
        </ng-container>
      </div>
      
      


      <p class="mt-5 mb-3 text-body-secondary text-center">&copy; 2017–2024</p>
    </form>
  </main>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>

</div>
