<div
  class="container d-flex justify-content-center align-items-center min-vh-100"
>
  <main class="form-signin w-100">
    <form [formGroup]="form">
      <div class="text-center mb-4">
        <img
          class="mb-4"
          src="image/logo.jpg"
          alt=""
          width="150rem"
          height="150rem"
        />
      </div>
      <h1 class="h3 mb-3 fw-normal text-center">Please sign in</h1>

      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
          formControlName="email"
        />
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
          formControlName="password"
        />
        <label for="floatingPassword">Password</label>
      </div>

      <div class="btn-group w-100 py-2 mt-2" role="group" aria-label="Selecciona tu tipo de usuario">
        <input type="radio" class="btn-check" name="tipoUsuario" id="especialista" value="especialista" autocomplete="off" checked (change)="onTipoUsuarioChange('especialista')">
        <label class="btn btn-outline-primary w-100" for="especialista">Especialista</label>
    
        <input type="radio" class="btn-check" name="tipoUsuario" id="paciente" value="paciente" autocomplete="off" (change)="onTipoUsuarioChange('paciente')">
        <label class="btn btn-outline-primary w-100" for="paciente">Paciente</label>
      </div>
      
      <button
        class="btn btn-primary w-100 py-2"
        type="submit"
        (click)="handleLogin()"
      >
        Sign in
      </button>
      <button
        class="btn btn-primary w-100 py-2 mt-2"
        type="submit"
        (click)="usuarioAdmin()"
      >
        Usuario administrador
      </button>
      <button
        class="btn btn-primary w-100 py-2 mt-2"
        type="submit"
        (click)="usuarioEspecialista()"
      >
        Usuario especialista
      </button>
      <button
        class="btn btn-primary w-100 py-2 mt-2"
        type="submit"
        (click)="usuarioPaciente()"
      >
        Usuario paciente
      </button>
      <p class="mt-5 mb-3 text-body-secondary text-center">&copy; 2017–2024</p>
    </form>
  </main>
</div>
