<div class="menu-container"> 
    <div class="row">
      <div class="col-6 category-col">
        <div class="category-card" (click)="seleccionarPerfiles()">
          <img src="image/paciente.jpg" alt="Paciente" class="category-image">
          <p>Usuarios</p>
        </div>
      </div>
      <div class="col-6 category-col">
        <div class="category-card" (click)="seleccionarPendientes()">
          <img src="image/especialista.jpg" alt="Especialista" class="category-image">
          <p>Pendientes</p>
        </div>
      </div>
    </div>
  </div>
  