<div class="container mt-3">
    <h2>Solicitar Turno</h2>
    <form [formGroup]="turnoForm" (ngSubmit)="solicitarTurno()">

      <div class="form-group mb-3">
        <label for="especialidad">Especialidad</label>
        <select id="especialidad" class="form-control" formControlName="especialidad" (change)="onEspecialidadChange()" >
          <option *ngFor="let especialidad of especialidades" [value]="especialidad">{{ especialidad }}</option>
        </select>
      </div>
  
      <!-- <div class="form-group mb-3" *ngIf="especialistasDisponibles && especialistasDisponibles.length > 0"> -->
      <div class="form-group mb-3" *ngIf="especialistasDisponibles">
        <label for="especialista">Especialista</label>
        <select id="especialista" class="form-control" formControlName="especialista" (change)="onEspecialistaChange()" required>
          <option *ngFor="let especialista of especialistasDisponibles" [ngValue]="especialista">{{ especialista?.nombre }}</option>
        </select>
      </div>      

  
      <div class="form-group mb-3">
        <label for="fechaHora">Fecha y Hora</label>
        <select id="fechaHora" class="form-control" formControlName="fechaHora">
          <option *ngFor="let horario of horariosDisponibles" [ngValue]="horario">
            {{ horario }}
            <!-- {{ horario.fecha }} - {{ horario.hora }} -->
          </option>
        </select>
      </div>
      
      
  
      <div class="form-group mb-3" *ngIf="esAdmin == true">
        <label for="paciente">Paciente</label>
        <select id="paciente" class="form-control" formControlName="paciente" >
          <option *ngFor="let paciente of pacientes" [ngValue]="paciente">{{ paciente.nombre }}</option>
        </select>
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="!turnoForm.valid">Solicitar Turno</button>
    </form>
  </div>
  